/target/
.classpath
.project
.settings/
/bin/
.idea
*.iml
/.apt_generated/
/images
.scannerwork
/src/main/resources/static/bower_components
src/main/resources/node_modules/
src/main/resources/server.js
/nohup.out
/.DS_Store
src/main/webapp
classpath.txt
launch.json
settings.json
task.json
/var/
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
src/main/resources/
src/test/
target/
